@use '@/styles/placeholders';
@use '@/styles/mixins' as mx;

.gallery {
  position: relative;
  width: clamp(200px, 100%, 25vw);
  padding: 1.5em 1em;
  background: rgba(122, 116, 116, 0.65);
  box-shadow: var(--box-shadow);
  overflow: hidden;

  @include mx.breakpoint(md) {
    padding: 1.25em 0.75em;
    width: 100%;
  }

  &__img {
    object-fit: cover;
    aspect-ratio: 15.5 / 9;
    width: 100%;
  }

  &__pop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(55, 55, 55, 0.75);
    color: var(--color-grey-light-2);

    & svg {
      position: absolute;
      right: 0;
      bottom: 0;
      width: clamp(20px, 15%, 45px);
    }
  }

  &__details {
    @include mx.center-self(both, absolute);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
  }

  &__title {
    font-weight: 700;
    font-family: var(--font-inter);
    line-height: 1.25;
    letter-spacing: -0.5px;
    text-align: center;
    text-transform: uppercase;
    font-size: min(3vw, 1.15rem);
  }

  &__subtitle {
    transform: scale(0.9);
    text-align: center;
    text-wrap: nowrap;
    font-family: var(--font-nunito);
    font-size: min(2.75vw, 0.95rem);
  }
}
