@use '@/styles/placeholders';

.marquee {
  width: 100vw;
  overflow: hidden;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;

  &__scroller {
    display: flex;
    white-space: nowrap;
    flex-wrap: nowrap;
  }

  & span {
    display: block;
    margin-right: 0.1em;
  }
}
