$breakpoints: (
  //320px,
  xs: 20em,
  //600px,
  sm: 38em,
  //700px,
  md: 44em,
  //900px,
  lg: 56em,
  //1000px,
  xl: 62.5em,
  //1200px,
  2xl: 75em,
  //1400px,,
  3xl: 88em
);

@mixin breakpoint($key, $minmax: max) {
  $size: map-get($breakpoints, $key);

  @if ($size) {
    @media only screen and (#{$minmax}-width: $size) {
      @content;
    }
  } @else {
    @error '`#{$key}` does not exist in the $breakpoints';
  }
}

@mixin breakpoint-exact($size, $minmax: min) {
  @if ($size) {
    @media only screen and (#{$minmax}-width: $size) {
      @content;
    }
  } @else {
    @error '`#{$key}` does not exist in the $breakpoints';
  }
}

@mixin center-self($position, $relOrAbs: relative) {
  position: $relOrAbs;

  @if $position == 'vertical' {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  } @else if $position == 'horizontal' {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
  } @else if $position == 'both' {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@mixin clamp-text($numLine: 3) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $numLine;
  overflow: hidden;
}
