@use '@/styles/mixins' as mx;
@use '@/styles/maps' as maps;
@use '@/styles/placeholders';

.welc {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: map-get($map: maps.$zindex, $key: welcome);

  background: var(--color-grey-dark-2);
  width: 100vw;
  height: 100vh;

  color: var(--color-light-1);
  text-transform: uppercase;
  font-size: var(--text-4xl);
  font-weight: 800;
  font-family: var(--font-nunito);

  &__greeting {
    position: relative;
    margin-inline: auto;
    padding-inline: 1rem;
    width: min(100%, var(--max-page-width));
  }

  &__static {
    margin-bottom: 1rem;
  }

  &__dynamic {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  &__item {
    @include mx.center-self(both, absolute);

    &.final {
      position: relative;
      margin-block: 2.5rem;
      font-weight: 1000;
      font-family: var(--font-inter);
      font-size: 3.375rem;
      letter-spacing: -3px;

      &::first-line {
        font-size: 2.45rem;
        font-weight: 500;
        font-family: var(--font-open-sans);
        color: var(--color-grad-2);
        letter-spacing: -3px;
      }
    }
  }
}
