@use '@/styles/placeholders';
@use '@/styles/mixins' as mx;

.about {
  padding-top: var(--header-height);

  &__wrapper {
    position: relative;
    margin-inline: auto;
    max-width: var(--max-page-width);
    padding-inline: var(--section-padding);

    @include mx.breakpoint(3xl) {
    }
  }

  &__main {
    width: 70%;

    @include mx.breakpoint(lg) {
      width: 100%;
    }
  }

  &__memoji {
    @extend %memoji;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
    width: 250px;
    height: 250px;

    @include mx.breakpoint(lg) {
      width: 110px;
      height: 110px;
      top: -65px;
      right: var(--section-padding);
    }

    @include mx.breakpoint(xs) {
      display: none;
    }
  }

  &__title {
    @extend %text-title;
  }

  &__description {
    @extend %text-paragraph;
    margin-top: 1.25em;

    & a {
      color: var(--color-grad-1);
      font-weight: 500;
      letter-spacing: -0.5px;
      box-shadow: 0px 1px 0px 0px currentColor;

      &:hover,
      &:focus {
        color: var(--color-primary);
        outline: 0;
      }
    }

    & p {
      margin-block: 1rem;
    }
  }

  &__links-wrapper {
    margin-block: 2.25em;
    padding-bottom: 2.5em;
  }

  &__links-title {
    @extend %text-subtitle;
    margin-bottom: 0.675em;
  }

  &__links {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  &__link {
    @extend %parent-with-centered-children;
    align-items: flex-end;
    line-height: normal;
    padding: 0.75em 2.5em;
    border: 1px solid var(--color-text-alpha25);
    border-radius: 5rem;
    box-shadow: var(--box-shadow-2);

    font-size: var(--text-sm);
    font-family: var(--font-nunito);

    &:focus,
    &:hover {
      background: var(--color-grad-1);
      color: var(--color-light-1);

      & img {
        filter: var(--filter-grad-2);
      }
    }
  }

  &__link-icon {
    width: 22.5px;
    margin-right: 1em;
  }
}

.stack {
  margin-top: 2.5em;

  &__title {
    @extend %text-subtitle;
    margin-bottom: 1.15em;
  }

  &__tech {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
  }

  &__tech-item {
    width: 100%;
  }

  &__tech-title {
    @extend %text-subtitle;
    font-size: var(--text-lg);
    letter-spacing: -0.5px;
  }

  &__list {
    display: flex;
    column-gap: 1.65em;
    row-gap: 2.5em;
    flex-wrap: wrap;
    padding-block: 2em;
  }
}
