@use '@/styles/placeholders';
@use '@/styles/mixins' as mx;

.contact {
  padding-top: var(--header-height);

  &__wrapper {
    position: relative;
    max-width: map-get($map: mx.$breakpoints, $key: xl);
    margin-inline: auto;

    @include mx.breakpoint(3xl) {
      padding-inline: var(--section-padding);
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    @extend %text-title;
  }

  &__img {
    @extend %memoji;
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding-bottom: 15rem;
  }

  &__send {
    position: absolute;
    right: 1rem;
    bottom: 2rem;
    background-color: var(--color-primary);
    border-radius: 50%;
    margin-top: 1.25em;
    margin-bottom: 4em;
    padding: 1.25em;
    aspect-ratio: 1 / 1;
    margin-left: auto;
    box-shadow: var(--box-shadow);

    color: var(--color-light-1);
    font-size: var(--text-lg);
    font-weight: 500;
    font-family: var(--font-poppins);

    &:disabled {
      background-color: var(--color-grey-light-3);
      color: rgba(0, 0, 0, 0.35);
      scale: 0.75;
      cursor: not-allowed;
    }
  }

  &__form-status {
    position: absolute;
    bottom: 0;
    width: fit-content;
    z-index: 1;
    padding: 1em 2.5em;
    margin-bottom: 1em;
    border-radius: 2em;
    font-size: var(--text-md);
    color: var(--color-light-1);
    box-shadow: var(--box-shadow);

    &::after {
      content: '!';
    }

    &[data-status='error'] {
      background: var(--color-error);
    }

    &[data-status='success'] {
      background: var(--color-success);
    }
  }
}
