@use '@/styles/placeholders';
@use '@/styles/mixins' as mx;
@use '@/styles/maps' as maps;

.header {
  --border-radius: 10rem;
  height: 0px;
  position: sticky;
  top: 0;
  z-index: map-get($map: maps.$zindex, $key: header);

  &__wrapper {
    height: var(--header-height);
    margin-inline: auto;
    padding-inline: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-wrapper {
    @extend %parent-with-centered-children;
    flex-shrink: 0;
    width: 45px;
    height: 45px;
    border-radius: var(--border-radius);
    padding: 5px;
    background: var(--color-primary);
    box-shadow: var(--box-shadow-2);

    &:focus {
      outline: none;
    }
  }

  &__logo {
    width: 65%;
    height: 65%;
    fill: var(--color-text-alpha75);
  }

  &__nav-wrapper {
    @extend %parent-with-centered-children;
    justify-content: space-between;
    gap: 0.75em;
    border-radius: var(--border-radius);
    margin-left: 0.5rem;
  }

  &__btn-nav {
    @extend %parent-with-centered-children;
    background: var(--color-primary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 40px;
    height: 40px;
    padding: 12px;
    color: var(--color-light-1);
  }
}

.nav {
  box-shadow: var(--box-shadow-2);
  background: var(--color-background);
  outline: 1px solid var(--color-light-1);
  border-radius: var(--border-radius);
  opacity: 0.95;

  &__links {
    @extend %parent-with-centered-children;
    gap: 0.25em;

    @include mx.breakpoint(sm, max) {
      gap: 0;
    }
  }

  &__item {
    display: block;
    border-radius: var(--border-radius);
    font-family: var(--font-raleway);
    font-weight: 700;
  }

  &__link {
    display: block;
    border-radius: var(--border-radius);
    padding: 0.625em 1.5em;
    width: 100%;
    height: 100%;
    color: var(--color-text-alpha75);

    @include mx.breakpoint(sm, max) {
      padding-inline: 0.75em;
      font-size: var(--text-sm);
    }

    @include mx.breakpoint(xs, max) {
      padding-inline: 0.5em;
    }

    &:hover,
    &:focus-within {
      outline: none;
      background-color: var(--color-grad-1);
      color: var(--color-light-1);
    }
  }
}

.hamburger {
  height: 100%;
  width: 100%;

  &__bar {
    transition-property: transform;
    transition-duration: 0.3s;
    transform-origin: center;
    stroke: currentColor;
    stroke-width: 10%;
  }

  &__bar--top {
    transform: translateY(-40%);
  }

  &__bar--bot {
    transform: translateY(40%);
  }

  &[data-expanded='true'] &__bar--top {
    transform: rotate(45deg);
  }

  &[data-expanded='true'] &__bar--mid {
    transform: scaleX(0.1);
  }

  &[data-expanded='true'] &__bar--bot {
    transform: rotate(-45deg);
  }
}
