@use '@/styles/placeholders';
@use '@/styles/mixins' as mx;
@use '@/styles/maps' as maps;

.header {
  height: 0px;
  position: sticky;
  top: 0;
  z-index: map-get($map: maps.$zindex, $key: header);
  background: transparent;

  &__wrapper {
    max-width: var(--max-page-width);
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;

    @include mx.breakpoint(3xl) {
      padding-inline: 1.5rem;
    }
  }

  &__logo-wrapper {
    @extend %parent-with-centered-children;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: var(--color-background);
  }

  &__logo {
    width: 70%;
    height: 70%;
  }
}

.nav {
  background: var(--color-background-accent);
  padding: 0.25rem 1.25rem;
  border-radius: 10rem;

  &__links {
    @extend %parent-with-centered-children;
    gap: 1.25rem;
  }
}
