@use '@/styles/mixins' as mx;

.stkm {
  position: relative;
  width: fit-content;

  &:focus-within {
    outline: none;
  }

  &__logo {
    &[data-theme='light'] {
      filter: var(--filter-grad-2);
    }

    &[data-theme='dark'] {
      filter: var(--filter-grad-1);
    }

    &.focus {
      filter: var(--filter-primary);
    }
  }

  &__title {
    @include mx.center-self(horizontal, absolute);
    top: calc(100% + 5px);
    white-space: nowrap;
    text-align: center;
    color: var(--color-primary);
    font-weight: 800;
    font-size: var(--text-xs);
  }
}
